*{
    margin: 0;
    box-sizing: border-box;
    padding: 0
    ;
}
h1{
    
    justify-self: center;
    padding: 10%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgb(122, 40, 40);
}
img{
    width: 20%;
    align-self: center;
}